
body{margin:0;background:#fafafa;font-family:Arial;text-align:center;}
.container{position:relative;z-index:2;margin-top:80px;}
h1,h2,h3{margin:10px;}
.btn{padding:12px 20px;margin:10px auto;display:block;background:#4A90E2;color:white;border-radius:8px;text-decoration:none;font-size:22px;width:80%;}
.input{padding:14px;width:80%;font-size:20px;margin:10px auto;display:block;}
.list li{margin:8px;font-size:18px;}
#fireworks{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1;}
