
body{margin:0;background:#000;color:white;text-align:center;font-family:Arial;}
.bigbtn{padding:15px;background:#d4af37;color:black;border-radius:10px;display:block;margin:40px auto;width:80%;font-size:20px;font-weight:700;}
.secret{position:absolute;opacity:0;pointer-events:auto;top:0;left:0;width:40px;height:40px;}
.titulo{margin-top:80px;font-size:32px;animation:fade 3s ease-in-out infinite alternate;}
@keyframes fade{from{opacity:.4;}to{opacity:1;}}
.fw{position:fixed;inset:0;pointer-events:none;}
