body {
    margin: 0;
    background: #fafafa;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 80px;
}

h1, h2, h3 {
    margin: 10px;
}

.input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 80%;
    font-size: 18px;
}

.btn {
    display: block;
    margin: 15px auto;
    background: #4a90e2;
    color: white;
    padding: 12px 20px;
    width: 80%;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

#fireworks {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    background: transparent;
}
